    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
                colors: {
                    bg: '#F9FAFB',
                    darker: '#1E2A3B',
                    orangecustom: '#EA580D'
                },
                fontFamily: {
                    'sans': ['Inter', 'Plus Jakarta Sans', 'sans-serif'],
                    'inter': ['Inter, sans-serif'],
                    'jakarta': ['Plus Jakarta Sans', 'sans-serif'],
                }
            }
          }
        }
      </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">